@import "tailwindcss";

@config "../../tailwind.config.js";
@plugin "tailwind-scrollbar" {
  nocompatible: true;
  preferredStrategy: 'pseudoelements';
}

/* 添加透明背景（光窗口透明没用！） */
html, body, #root {
  background: transparent !important;
  margin: 0;
  padding: 0;
  /* 解决 Edge WebView 弹性滚动问题 */
  overscroll-behavior: none;
}

/* 通用滚动条样式类 */
.custom-scrollbar-dark {
  @apply scrollbar-w-1 scrollbar scrollbar-thumb-rounded-full scrollbar-thumb-gray-600 scrollbar-track-gray-800 hover:scrollbar-thumb-gray-400 cursor-auto;
}

/* 通用内联 code 样式 */
code {
  @apply text-gray-400 bg-gray-800 px-1 rounded;
}

/* 通用引用样式 */
.blockquote-500 {
  @apply text-xs border-l-2 border-gray-500 pl-2 text-gray-500;
}
.blockquote-400 {
  @apply text-xs border-l-2 border-gray-400 pl-2 text-gray-400;
}